* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

:root {
    --cor-fundo: rgb(141, 69, 174);
    --cor-fundo-dark: rgb(55, 32, 100);
    --cor-fonte: rgb(255, 255, 255);
}

.container {
    
    display: flex;
    flex-direction: colum;
    align-items: center;

}

.principal {
    display: flex;
    flex-direction: row;
}

.grid {
   
    background: var(--bg-cor-main);
    min-width: 150px;
    min-height: 150px;
    border: 1px solid rgb(129, 52, 201);
   
}

.tabuleiro {

    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    max-width: 450px;
}

#novo {

    margin-top: 20px;
    width: 75px;
    height: 50px;
    font-size: 20px;
    background: var(--bg-cor-main-dark);
    color: var(--bg-cor-fonte);
    cursor: pointer;

}
